Repository yungblud/expo-catholic-saints: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, typecheck

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

feat: enforce biography schema and clean saints data
  claude-specs/saints-json-biography.md
  data/saints.json
Due: prettier

chore: saints ver update
  data/saints.json
Due: prettier

feat: update saints data
  claude-specs/add-saints-data.md
  data/saints.json
Due: prettier

fix: fixed tests
  app/__tests__/_layout.test.tsx
  jest.setup.js
  lib/search/__tests__/searchSaints.test.ts
Due: lint, prettier, typecheck

feat: update specs
  specs/005-privacy-policy-web/checklists/requirements.md
  specs/005-privacy-policy-web/spec.md
Due: prettier

feat: specify plan
  CLAUDE.md
  specs/005-privacy-policy-web/plan.md
  specs/005-privacy-policy-web/quickstart.md
  specs/005-privacy-policy-web/research.md
Due: prettier

feat: speckit tasks
  specs/005-privacy-policy-web/tasks.md
Due: prettier

feat: update layout with routes
  app/_layout.tsx
  specs/005-privacy-policy-web/tasks.md
Due: lint, prettier, typecheck

feat: render privacy policy with testing
  app/__tests__/privacy-policy.test.tsx
  app/privacy-policy.tsx
  specs/005-privacy-policy-web/tasks.md
Due: lint, prettier, typecheck

chore: update docs
  specs/005-privacy-policy-web/tasks.md
Due: prettier

chore: update blocks info
  specs/005-privacy-policy-web/tasks.md
Due: prettier

fix: fixed expo sqlite web issue
  lib/store/saints.ts
  specs/005-privacy-policy-web/tasks.md
Due: lint, prettier, typecheck

fix: do not use persister on web
  lib/store/saints.ts
Due: lint, prettier, typecheck

feat: support persister on web
  jest.setup.js
  lib/store/saints.ts
Due: lint, prettier, typecheck

feat: added favicon web
  app.json
  assets/images/android-chrome-192x192.png
  assets/images/android-chrome-512x512.png
  assets/images/apple-touch-icon.png
  assets/images/favicon-16x16.png
  assets/images/favicon-32x32.png
  assets/images/favicon.ico
Due: prettier

feat: update specs
  specs/006-sst-deployment/plan.md
  specs/006-sst-deployment/spec.md
  specs/006-sst-deployment/tasks.md
Due: prettier

feat: setup sst expo web
  .env.example
  .eslintrc.js
  .github/workflows/deploy-web.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  sst.config.ts
  tsconfig.json
Due: lint, prettier, typecheck

feat: update docs
  docs/expo-web-deployment.md
Due: prettier

feat: update workflow deploy-web
  .github/workflows/deploy-web.yml
Due: none

feat: update tasks
  CLAUDE.md
  specs/006-sst-deployment/tasks.md
Due: prettier

fix: fixed static generations
  app/saint/[id].tsx
  lib/store/saints.ts
Due: lint, prettier, typecheck

fix: fixed aws static site route issue
  scripts/fix-static-html.mjs
  sst-env.d.ts
  sst.config.ts
Due: lint, prettier, typecheck

feat: update domain env
  .env.example
  sst-env.d.ts
  sst.config.ts
Due: lint, prettier, typecheck

feat: update sst-env.d.ts
  sst-env.d.ts
Due: lint, prettier, typecheck

chore: currently not use push main trigger
  .github/workflows/deploy-web.yml
Due: none

feat: implement meta tags with component
  app/+html.tsx
  app/_layout.tsx
  app/saint/[id].tsx
  components/meta/CommonMetaHead.tsx
  components/meta/SaintDetailMetaHead.tsx
  lib/constants/meta.ts
Due: lint, prettier, typecheck

feat: enhance common meta head
  app/(tabs)/favorites.tsx
  app/(tabs)/index.tsx
  app/(tabs)/search.tsx
  components/meta/CommonMetaHead.tsx
Due: lint, prettier, typecheck

chore: update description
  app/(tabs)/favorites.tsx
Due: lint, prettier, typecheck

feat: added sitemap generate script
  package.json
  public/robots.txt
  public/sitemap.xml
  scripts/generate-sitemap.mjs
  sst.config.ts
Due: lint, prettier, typecheck

feat: update robots.txt
  public/robots.txt
Due: none

feat: bulk update saints data from 83 to 192 entries
  CLAUDE.md
  claude-specs/bulk-update-saints-data.md
  data/saints-batch-2.json
  scripts/bulk-update-saints.ts
Due: lint, prettier, typecheck

docs: add data source and verification info to CLAUDE.md
  CLAUDE.md
Due: prettier

feat: add Korean 103 Martyrs data (82 new entries)
  data/saints-batch-korean-martyrs.json
  data/saints.json
Due: prettier

feat: add useScrollToTop
  app/(tabs)/favorites.tsx
  app/(tabs)/index.tsx
  app/(tabs)/search.tsx
  components/saints/SaintDetail.tsx
Due: lint, prettier, typecheck

feat: install expo-haptics
  package.json
  pnpm-lock.yaml
Due: prettier

feat: implement hapticPress
  app/(tabs)/_layout.tsx
  lib/utils/hapticUtils.ts
Due: lint, prettier, typecheck

feat: implement render loading state with check update
  app/_layout.tsx
Due: lint, prettier, typecheck

fix: do not render Head tag when platform is not web
  components/meta/CommonMetaHead.tsx
  components/meta/SaintDetailMetaHead.tsx
Due: lint, prettier, typecheck

chore: added bg color
  components/ui/LoadingState.tsx
Due: lint, prettier, typecheck

fix: remove withTapPress
  app/(tabs)/_layout.tsx
Due: lint, prettier, typecheck
