Repository yungblud/expo-catholic-saints: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, typecheck

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

feat: update app name for "Halo"
  CLAUDE.md
  app.json
  app/__tests__/privacy-policy.test.tsx
  app/privacy-policy.tsx
  docs/app-store-submission.md
  lib/constants/meta.ts
Due: lint, prettier, typecheck

chore: remove duplicated version declaration
  app.json
Due: prettier

chore: update bundleIds
  app.json
Due: prettier

feat: update meta app name
  lib/constants/meta.ts
  public/robots.txt
  public/sitemap.xml
  scripts/generate-sitemap.mjs
  sst.config.ts
Due: lint, prettier, typecheck

feat: update privacy-policy content
  app/privacy-policy.tsx
Due: lint, prettier, typecheck

chore: do not support iPad iOS expo
  app.json
Due: prettier

chore: added skills
  .claude/settings.json
Due: prettier

feat: update saints data
  data/saints-batch-3.json
  data/saints.json
Due: prettier

chore: update sitemap.xml
  public/sitemap.xml
Due: none

feat: update runtimeVersion ota update policy
  app.config.ts
  app.json
Due: lint, prettier, typecheck

chore: update ver 0.2.0
  package.json
Due: prettier

chore: update saints data
  data/saints.json
  package.json
Due: prettier

chore: update README
  README.md
Due: prettier

chore: remove duplicated saints data
  data/saints.json
Due: prettier

chore: v1.0.7 saints data
  data/saints.json
Due: prettier

feat: implement remove deleted rows
  data/saints.json
  lib/store/saints.ts
Due: lint, prettier, typecheck

feat: bump expo version as 54.0.33
  package.json
  pnpm-lock.yaml
Due: prettier

feat: update expo related modules
  app.config.ts
  package.json
  pnpm-lock.yaml
Due: lint, prettier, typecheck

fix: fixed modules with expo
  package.json
  pnpm-lock.yaml
Due: prettier

feat: implement NativeTabs
  app/(tabs)/_layout.tsx
Due: lint, prettier, typecheck

feat: remove expo-dev-client
  app.config.ts
  package.json
  pnpm-lock.yaml
Due: lint, prettier, typecheck

feat: add saints-data-guide.md
  docs/saints-data-guide.md
Due: prettier

chore: update 0.3.0 pkg version
  package.json
Due: prettier

feat: upgrade expo sdk and refined expo metro config
  app.config.ts
  package.json
  pnpm-lock.yaml
Due: lint, prettier, typecheck

chore: update pnpm lock
  pnpm-lock.yaml
Due: none

fix: fixed android expo build
  app.config.ts
Due: lint, prettier, typecheck

feat: implement SafeArea
  app/(tabs)/favorites.tsx
  app/(tabs)/index.tsx
  app/(tabs)/search.tsx
  components/ui/SafeArea.tsx
Due: lint, prettier, typecheck

feat: implement NativeTabs\
  app/(tabs)/_layout.tsx
Due: lint, prettier, typecheck

fix: fixed expo sqlite web start
  metro.config.js
Due: lint, prettier

fix: use old legacy tabs for web
  app/(tabs)/_layout.tsx
Due: lint, prettier, typecheck

feat: update sitemap.xml
  public/sitemap.xml
Due: none

chore: 0.4.0
  package.json
Due: prettier

refactor: extract tab layouts into OldLegacyTabs and NativeTabsLayout components
  app/(tabs)/_layout.tsx
  components/tabs/NativeTabsLayout.tsx
  components/tabs/OldLegacyTabs.tsx
Due: lint, prettier, typecheck

chore: update eslint ignore
  .eslintrc.js
Due: lint, prettier

feat: update SafeArea to use insets-based padding for native tabs
  app/(tabs)/favorites.tsx
  app/(tabs)/index.tsx
  app/(tabs)/search.tsx
  components/ui/SafeArea.tsx
Due: lint, prettier, typecheck

fix: add backgroundColor to NativeTabs for dark mode tab bar flash
  components/tabs/NativeTabsLayout.tsx
Due: lint, prettier, typecheck

refactor: extract NavigationThemeProvider and apply to tabs layout
  app/(tabs)/_layout.tsx
  components/navigation/NavigationThemeProvider.tsx
  components/tabs/NativeTabsLayout.tsx
Due: lint, prettier, typecheck

fix: split DynamicColorIOS into platform-specific constants to prevent web error
  components/navigation/NavigationThemeProvider.tsx
  components/navigation/navigationColors.ts
  components/navigation/navigationColors.web.ts
Due: lint, prettier, typecheck

feat: react native architecture skills add
  .agents/skills/react-native-architecture/SKILL.md
  .claude/skills/react-native-architecture
  skills-lock.json
Due: prettier

feat: install karpathy guidelines
  .agents/skills/karpathy-guidelines/SKILL.md
  .claude/skills/karpathy-guidelines
  skills-lock.json
Due: prettier
