Repository yungblud/expo-catholic-saints: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, typecheck

lint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm tsc --noEmit

fix: split DynamicColorIOS into platform-specific constants to prevent web error
  components/navigation/NavigationThemeProvider.tsx
  components/navigation/navigationColors.ts
  components/navigation/navigationColors.web.ts
Due: lint, prettier, typecheck

chore: 0.4.0
  package.json
Due: prettier

fix: add backgroundColor to NativeTabs for dark mode tab bar flash
  components/tabs/NativeTabsLayout.tsx
Due: lint, prettier, typecheck

feat: update SafeArea to use insets-based padding for native tabs
  app/(tabs)/favorites.tsx
  app/(tabs)/index.tsx
  app/(tabs)/search.tsx
  components/ui/SafeArea.tsx
Due: lint, prettier, typecheck

refactor: extract tab layouts into OldLegacyTabs and NativeTabsLayout components
  app/(tabs)/_layout.tsx
  components/tabs/NativeTabsLayout.tsx
  components/tabs/OldLegacyTabs.tsx
Due: lint, prettier, typecheck

refactor: extract NavigationThemeProvider and apply to tabs layout
  app/(tabs)/_layout.tsx
  components/navigation/NavigationThemeProvider.tsx
  components/tabs/NativeTabsLayout.tsx
Due: lint, prettier, typecheck

chore: update eslint ignore
  .eslintrc.js
Due: lint, prettier

chore: bump down version to 0.3.0
  package.json
Due: prettier

docs: add release tagging convention to CLAUDE.md and docs
  CLAUDE.md
  docs/release-tagging.md
Due: prettier

chore: update CLAUDE.md
  CLAUDE.md
Due: prettier

feat: install modules for ocean-road
  package.json
  pnpm-lock.yaml
Due: prettier

feat: added ColorSchemeProvider
  app/_layout.tsx
Due: lint, prettier, typecheck

feat: use useColorScheme with semantic colors
  components/saints/SaintCard.tsx
Due: lint, prettier, typecheck

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,css}
  typecheck: any of: *.{ts,tsx}
