Repository yungblud/expo-catholic-saints: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier, typecheck

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

feat: implement FeatureFlags constants
  lib/constants/featureFlags.ts
  package.json
Due: lint, prettier, typecheck

feat: optionally render favorites tab
  app/(tabs)/_layout.tsx
  app/(tabs)/favorites.tsx
Due: lint, prettier, typecheck

feat: implement feature flags for today saints
  app/(tabs)/_layout.tsx
  app/(tabs)/index.tsx
Due: lint, prettier, typecheck

feat: modify layout
  app/(tabs)/_layout.tsx
  app/(tabs)/index.tsx
  package.json
Due: lint, prettier, typecheck

feat: implement SplashHide options
  app/_layout.tsx
Due: lint, prettier, typecheck

feat: implement 모아보기 components
  app/(tabs)/index.tsx
  app/_layout.tsx
  lib/store/saints.ts
Due: lint, prettier, typecheck

feat: add toggleFavorite, isFavorite
  lib/store/saints.ts
Due: lint, prettier, typecheck

feat: implement isFavorite state
  app/saint/[id].tsx
Due: lint, prettier, typecheck

feat: added church icon to home tab
  app/(tabs)/_layout.tsx
Due: lint, prettier, typecheck

chore: remove comment
  app/saint/[id].tsx
Due: lint, prettier, typecheck

feat: remove favorites feature flags
  app/(tabs)/_layout.tsx
  app/(tabs)/favorites.tsx
  package.json
Due: lint, prettier, typecheck

feat: set initial favorite state
  app/saint/[id].tsx
Due: lint, prettier, typecheck

feat: add getFavorites
  lib/store/saints.ts
Due: lint, prettier, typecheck

feat: install expo-sqlite for tinybase persister
  app.json
  package.json
  pnpm-lock.yaml
Due: prettier

feat: implement base persister
  app/_layout.tsx
  lib/store/saints.ts
Due: lint, prettier, typecheck

feat: add migrations table
  lib/store/saints.ts
Due: lint, prettier, typecheck

feat: add persister save on toggleFavorite
  lib/store/saints.ts
Due: lint, prettier, typecheck

feat: implement favorite ui
  app/(tabs)/favorites.tsx
Due: lint, prettier, typecheck

feat: update saints.json
  data/saints.json
Due: prettier

feat: update additional saints data
  data/saints.json
Due: prettier

chore: update eslint fix script
  package.json
  tsconfig.json
Due: prettier

chore: update saints.json
  data/saints.json
Due: prettier

feat: update splash icon
  assets/images/splash-icon.png
Due: none

feat(eas): update expo eas setup
  app.json
Due: prettier

feat(eas): create production builds yaml
  .eas/workflows/create-production-builds.yml
Due: none

fix(eas): fixed lefthook install in not git repo issue
  package.json
Due: prettier

fix(eas): fixed eas git repo issue
  package.json
Due: prettier

Revert "fix(eas): fixed eas git repo issue"
  package.json
Due: prettier

Revert "fix(eas): fixed lefthook install in not git repo issue"
  package.json
Due: prettier

Reapply "fix(eas): fixed lefthook install in not git repo issue"
  package.json
Due: prettier

fix(eas): fixed build issue
  .easignore
  app.json
  eas.json
  package.json
  pnpm-lock.yaml
Due: prettier

fix(eas): fixed android kotlinVersion issue
  app.json
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update bundle id
  app.json
Due: prettier

chore: update name and scheme
  app.json
Due: prettier

feat: conditionally include expo-dev-client for EAS builds only
  CLAUDE.md
  app.config.ts
  claude-specs/expo-dev-client.md
Due: lint, prettier, typecheck

fix: fixed migrations
  lib/store/saints.ts
Due: lint, prettier, typecheck

feat: update app store connect setup
  .claudeignore
  .gitignore
  eas.json
Due: prettier

feat: update version system
  app.config.ts
  package.json
Due: lint, prettier, typecheck
